<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kronikle.project">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ActionBarTheme">

        <!-- Splash Activity -->
        <activity
            android:name=".Splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Landing Activity -->
        <activity
            android:name=".Landing.LandingActivity"
            android:theme="@style/NoActionBarTheme" />

        <!-- Main Activity -->
        <activity
            android:name=".Main.MainActivity"
            android:theme="@style/NoActionBarTheme" />

        <!-- New Task Activity -->
        <activity
            android:name=".Main.Tasks.NewTaskActivity"
            android:theme="@style/NoActionBarTheme" />

        <!-- New Habit Activity -->
        <activity
            android:name=".Main.Habits.NewHabitActivity"
            android:theme="@style/NoActionBarTheme" />

        <!-- New Timer Activity -->
        <activity
            android:name=".Main.Timers.NewTimerActivity"
            android:theme="@style/NoActionBarTheme" />

        <!-- Activity Activity -->
        <activity
            android:name=".Activity.ActivityActivity"
            android:theme="@style/NoActionBarTheme" />

        <!-- Profile Activity -->
        <activity
            android:name=".Profile.ProfileActivity"
            android:theme="@style/NoActionBarTheme" />

        <!-- Contact Us Activity -->
        <activity
            android:name=".ContactUs.ContactUsActivity"
            android:theme="@style/NoActionBarTheme" />

        <!-- Info Activity -->
        <activity
            android:name=".Info.InfoActivity"
            android:theme="@style/NoActionBarTheme" />

        <!-- Settings Activity -->
        <activity
            android:name=".Settings.SettingsActivity"
            android:theme="@style/NoActionBarTheme" />

    </application>

</manifest>